html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

ul.nobullet {
    list-style: none;
}

h1.nopad {
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 0.67em!important;
}

a {
    color: rgb(219, 72, 14);
}
a:hover {
    background-color: black;
}
a:visited {
    color: rgb(219, 72, 14);
}

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

td {
    padding: 0px 15px 6px 0px;
    vertical-align: top;
  }

.yearcolumn {
    width: 120px;
}

.topextramargin {
    margin-top: 0.67em;
}

.tablenumbers {
    font-variant-numeric: tabular-nums;
}

.container {
    justify-content: center;
}

.paperref {
    text-indent: -30px;
    margin-left: 30px
}